.categorias__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas, uma para cada categoria */
    gap: 50px;
    list-style-type: none;
    padding: 0;
    justify-content: center;
}

.categorias__list_item {
    box-shadow: 0px 4px 24px 0px #7B7B7B26;
    text-align: center;
}

.categorias__list_item_container {
    background-color: var(--cor-links);
}

.categorias__list_item_container img {
    height: 331px;
    width: 100%;
    object-fit: contain;
}

.categorias {
    padding: 80px 12.5%;
}

.categorias__titulo {
    font-size: 32px;
    text-align: center;
    font-family: var(--fonte-titulo);
    color: var(--cor-texto-principal);
    margin-bottom: 40px;
}

.categorias__texto {
    font-size: 25px;
    text-align: center;
    font-family: var(--fonte-texto);
    color: var(--cor-texto-secundario);
    margin-bottom: 40px;
}

.categorias__list_item_titulo {
    font-size: 31px;
    font-family: var(--texto-principal);
    color: var(--cor-texto-principal);
    padding: 16px 0;
    text-align: center;
}
@media (max-width: 1600px) {
    .categorias__list {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas para telas médias */
        gap: 40px;
    }

    .categorias__list_item_container img {
        height: 300px; /* Mantém um tamanho maior para as imagens */
    }
}

@media (max-width: 700px) {
    .categorias__list {
        grid-template-columns: repeat(2, 1fr); /* Mantém 2 colunas */
        gap: 20px;
    }

    .categorias {
        padding: 40px 5%;
    }

    .categorias__list_item_container img {
        height: 280px; /* Mantém a imagem grande */
    }
}

@media (max-width: 480px) {
    .categorias__list {
        grid-template-columns: 1fr; /* Apenas 1 item por linha */
        gap: 20px;
    }

    .categorias__list_item_container img {
        height: 260px; /* Mantém um tamanho adequado para mobile */
    }
}